<footer class="footer">
  <small class="group-name-footer">Codebreakers © 2022 </small>
  <nav class="footer-links">
    <ul>
      <li><a href="./index.html#team" class="footer-link">Equipo</a></li>
      <li>
        <a href="./index.html#aboutus" class="footer-link">Quiénes somos</a>
      </li>
      <li>
        <a href="http://adalab.es" target="_blank" class="footer-link"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
  <a href="http://adalab.es" target="_blank"
    ><img
      class="footer-logo"
      src="./assets/images/logo-adalab.png"
      alt="Logo Adalab"
  /></a>
</footer>
