<header class="header">
  <h1 class="header__title">Codebreakers</h1>
  <nav class="header__nav">
    <ul class="header__nav__links">
      <li><a href="./index.html#team">Equipo</a></li>
      <li>
        <a href="./index.html#aboutus">Quiénes somos</a>
      </li>
      <li><a href="./contact.html">Contacto</a></li>
    </ul>
  </nav>
  <video
    class="header__video"
    src="./assets/images/codebreakers.mp4"
    muted="muted"
    autoplay="autoplay"
    preload="auto"
  ></video>
</header>
