:root {
  /* Igualar el tamaño de las unidades REM al tamaño relativo de los píxeles */
  /* 6.25% = 1px de 16px */

  /* 1 REM = 1PX */
  font-size: 6.25%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 16rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
