.section {
  //   height: 810rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  height: 45rem;
  padding: 30rem 0 15rem 20rem;
  text-align: center;
  font-size: 24rem;
  font-family: $rubik;
  font-weight: $medium;
  text-transform: uppercase;
  color: $blueGreen;
}

.text {
  font-family: $openSans;
  font-size: 16rem;
  color: $blackParagraph;
  text-align: center;
}
