.main {
  width: 100%;
  min-width: 320rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  /* MAIN-TEAM */
  &__team {
    padding: 76rem 15rem 15rem 15rem;

    @media all and (min-width: 768px) {
      padding: 45rem 45rem 60rem 45rem;
      max-width: $max-width-tablet;
    }
    @media all and (min-width: 1200px) {
      padding: 45rem 300rem 60rem 300rem;
      max-width: $max-width-desktop;
    }

    & h2 {
      font-family: $rubik;
      font-size: 24rem;
      font-weight: $medium;
      line-height: 45rem;
      text-transform: uppercase;
      color: $aqua;

      @media all and (min-width: 768px) {
        color: $blueGreen;
      }
    }

    & p {
      padding: 15rem 0;
      font-family: $openSans;
      font-size: 16rem;
      font-weight: $regular;
      line-height: 24rem;
      color: $blackParagraph;
    }
  }
  /* END OF MAIN-TEAM */

  /* DIAMOND */
  &__diamond {
    width: 100%;
    height: 30rem;

    position: relative;
    top: -15rem;

    display: flex;
    justify-content: center;

    &--rotate {
      width: 30rem;
      height: 30rem;
      z-index: 10;
      transform: rotate(45deg);
      background-color: $white;
    }
  }
  /* END OF DIAMOND */

  /* MAIN WOTS */
  &__wots {
    width: 100%;

    display: flex;
    justify-content: center;

    position: relative;
    top: -30rem;
    padding: 0rem 15rem 45rem 15rem;
    margin-bottom: -30rem;
    background-color: $coolGrey;

    @media all and (min-width: 768px) {
      padding: 45rem 30rem 60rem 30rem;
      display: flex;
      flex-direction: row;
    }

    @media all and (min-width: 1200px) {
      padding: 45rem 115rem 60rem 115rem;
    }

    &__container {
      @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: $max-width-tablet;
      }
      @media all and (min-width: 1200px) {
        max-width: $max-width-desktop;
      }

      & article {
        @media all and (min-width: 768px) {
          padding: 0 15rem;
          flex-basis: 50%;
        }
        @media all and (min-width: 1200px) {
          padding: 0 23rem;
          flex-basis: 50%;
        }
      }
    }
  }

  &__wots article h2 {
    padding: 30rem 0 0 0;
    font-family: $rubik;
    font-size: 22rem;
    font-weight: $medium;
    line-height: 45rem;
    text-transform: capitalize;
    color: $blueGreen;
    top: 46px;
    min-height: 50px; /* Mínimo de alto para que no pise con el footer*/
    @media all and (min-width: 768px) {
      padding: 0;
    }
  }

  &__wots article p {
    padding-bottom: 15rem;

    font-family: $openSans;
    font-size: 16rem;
    font-weight: $regular;
    line-height: 24rem;
    color: $blackParagraph;
  }
  /* END OF MAIN WOTS */

  /* MAIN ABOUT US */
  &__aboutus {
    padding: 0 15rem;

    @media all and (min-width: 768px) {
      padding: 0 45rem;
      max-width: $max-width-tablet;
    }
    @media all and (min-width: 1200px) {
      max-width: $max-width-desktop;
    }

    & h2 {
      padding: 30rem 0;
      font-family: $rubik;
      font-size: 24rem;
      font-weight: $medium;
      line-height: 45rem;
      text-transform: uppercase;
      color: $blueGreen;

      @media all and (min-width: 768px) {
        padding: 45rem 0 41rem 0;
      }
    }

    @media all and (min-width: 768px) {
      .switch-right {
        flex-direction: row-reverse;
      }

      .switch-left {
        flex-direction: row;
      }
    }

    & article {
      padding-bottom: 45rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        cursor: pointer;
      }

      @media all and (min-width: 768px) {
        // align-items: flex-start;
        align-items: center;
        padding-bottom: 60rem;
      }

      & .img-mau {
        width: 190rem;
        height: 190rem;
        margin: 12rem;
        // border: solid 5rem $blackBorder;
        -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);
        box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        background-size: contain;

        filter: saturate(0%);

        @media all and (min-width: 768px) {
          width: 225rem;
          min-width: 225rem;
          height: 225rem;
          min-height: 225rem;
        }
        // @media all and (min-width: 1200px) {
        //   width: 288rem;
        //   min-width: 288rem;
        //   height: 288rem;
        //   min-height: 288rem;
        // }
      }

      & h4 {
        padding-top: 15rem;
        font-family: $openSans;
        font-size: 20rem;
        font-weight: $regular;
        line-height: 45rem;
        text-transform: capitalize;
        color: $blackParagraph;

        @media all and (min-width: 768px) {
          padding-top: 0;
        }
      }

      & .epiteto {
        font-family: $openSans;
        font-size: 24rem;
        font-weight: $regular;
        line-height: 45rem;
        text-transform: capitalize;
        color: $blueGreen;
      }

      & p {
        padding-bottom: 15rem;
        font-family: $openSans;
        font-size: 16rem;
        font-weight: $regular;
        line-height: 24rem;
        color: $col_grey_off;
      }

      & .some-mau {
        width: 124rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;

        & a i,
        span {
          font-size: 15rem;
          font-weight: $regular;
          line-height: 30rem;
          color: $col_grey_off;
        }

        & i:hover {
          cursor: pointer;
        }
      }
    }

    .container-mau {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media all and (min-width: 768px) {
        justify-content: flex-start;
      }
      & h5 {
        color: $col_grey_off;
      }
    }

    .switch-right .container-mau {
      @media all and (min-width: 768px) {
        align-items: flex-end;
        text-align: right;
        padding-right: 50rem;
      }

      @media all and (min-width: 1200px) {
        padding-right: 75rem;
        & p {
          padding-left: 255rem;
        }
      }
    }

    .switch-left .container-mau {
      @media all and (min-width: 768px) {
        align-items: flex-start;
        text-align: left;
        padding-left: 50rem;
      }
      @media all and (min-width: 1200px) {
        padding-left: 75rem;
        & p {
          padding-right: 255rem;
        }
      }
    }

    .article__container.switch-left {
      // margin-bottom: 50rem;
      // background-color: #ddd;

      position: relative;
      overflow: hidden;

      & .flash {
        width: 10%;
        height: 150%;
        position: absolute;
        top: -25%;
        right: -15%;
        z-index: 10;
        transform: rotate(35deg);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.5) 35%,
          rgba(255, 255, 255, 0) 100%
        );
        // background-color: rebeccapurple;

        animation-name: flash-action-left;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-direction: normal;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes flash-action-left {
        0% {
          right: -15%;
        }
        100% {
          right: +115%;
        }
      }

      & .img-mau {
        animation-name: flash-img-color-left;
        animation-delay: 0.6s;
        animation-duration: 1s;
        animation-direction: normal;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        @media all and (min-width: 768px) {
          animation-delay: 0.8s;
        }
      }

      @keyframes flash-img-color-left {
        0% {
          filter: saturate(0%);
        }
        100% {
          filter: saturate(100%);
        }
      }

      & .container-mau {
        // & h4,
        p {
          animation-name: flash-text-color;
          animation-delay: 0.4s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-text-color {
          0% {
            color: $col_grey_off;
          }
          100% {
            color: $blackParagraph;
          }
        }
      }

      & .container-mau {
        & h4 {
          animation-name: flash-h4;
          animation-delay: 0.8s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-h4 {
          0% {
            text-decoration: none;
            color: $col_grey_off;
          }
          100% {
            text-decoration: line-through;
            color: $col_grey_off_05;
          }
        }
      }

      & .container-mau {
        & h5 {
          animation-name: flash-text-color-h5;
          animation-delay: 0.4s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-text-color-h5 {
          0% {
            color: $blackParagraph;
          }
          100% {
            color: $blueGreen;
          }
        }
      }

      & .some-mau {
        width: 124rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;

        & a i,
        span {
          font-size: 15rem;
          font-weight: $regular;
          line-height: 30rem;

          animation-name: flash-icon-color;
          animation-delay: 0.6s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          @media all and (min-width: 768px) {
            animation-delay: 0.1s;
          }
        }
        @keyframes flash-icon-color {
          0% {
            color: $col_grey_off;
          }
          100% {
            color: $blueGreen;
          }
        }
      }
    }

    .article__container.switch-right {
      // margin-bottom: 50rem;
      // background-color: #ddd;

      position: relative;
      overflow: hidden;

      & .flash {
        width: 10%;
        height: 150%;
        position: absolute;
        top: -25%;
        right: -15%;
        z-index: 10;
        transform: rotate(35deg);
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.5) 35%,
          rgba(255, 255, 255, 0) 100%
        );
        // background-color: rebeccapurple;

        animation-name: flash-action-right;
        animation-delay: 0s;
        animation-duration: 2s;
        animation-direction: normal;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      @keyframes flash-action-right {
        0% {
          right: -15%;
        }
        100% {
          right: +115%;
        }
      }

      & .img-mau {
        animation-name: flash-img-color-right;
        animation-delay: 0.6s;
        animation-duration: 1s;
        animation-direction: normal;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        @media all and (min-width: 768px) {
          animation-delay: 0.2s;
        }
      }

      @keyframes flash-img-color-right {
        0% {
          filter: saturate(0%);
        }
        100% {
          filter: saturate(100%);
        }
      }

      & .container-mau {
        p {
          animation-name: flash-text-color;
          animation-delay: 0.6s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-text-color {
          0% {
            color: $col_grey_off;
          }
          100% {
            color: $blackParagraph;
          }
        }
      }

      & .container-mau {
        & h4 {
          animation-name: flash-h4;
          animation-delay: 0.8s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-h4 {
          0% {
            text-decoration: none;
            color: $col_grey_off;
          }
          100% {
            text-decoration: line-through;
            color: $col_grey_off_05;
          }
        }
      }

      & .container-mau {
        & h5 {
          animation-name: flash-text-color-h5;
          animation-delay: 0.6s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
        @keyframes flash-text-color-h5 {
          0% {
            color: $blackParagraph;
          }
          100% {
            color: $blueGreen;
          }
        }
      }

      @media all and (min-width: 768px) {
      }

      & .some-mau {
        width: 124rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;

        & a i,
        span {
          font-size: 15rem;
          font-weight: $regular;
          line-height: 30rem;

          animation-name: flash-icon-color;
          animation-delay: 0.3s;
          animation-duration: 1s;
          animation-direction: normal;
          animation-timing-function: ease;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          @media all and (min-width: 768px) {
            animation-delay: 0.1s;
          }
        }
        @keyframes flash-icon-color {
          0% {
            color: $col_grey_off;
          }
          100% {
            color: $blueGreen;
          }
        }
      }
    }
  }
}

.img-mau-001 {
  background: url(../images/about-us/analia.jpg) no-repeat;
}

.img-mau-002 {
  background: url(../images/about-us/celia.jpg) no-repeat;
}

.img-mau-003 {
  background: url(../images/about-us/naiara.jpg) no-repeat;
}

.img-mau-004 {
  background: url(../images/about-us/satory.jpg) no-repeat;
}
/* END OF MAIN ABOUT US */
