.footer {
  padding: 30rem;
  border-top: solid 1rem $coolGreyHard;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__small {
    width: 100%;
    color: $coolGreyHard;
    font-family: $openSans;
    font-size: 14rem;
    line-height: 20rem;
  }

  &__links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20rem;
    line-height: 20rem;
  }

  & ul li a {
    width: 100%;
    text-transform: uppercase;
    font-family: $openSans;
    font-weight: $semiBold;
    font-size: 14rem;
    color: $blackParagraph;
    line-height: 20rem;
  }

  &__logo {
    width: 115rem;
    padding-top: 30rem;
  }
}
