.footer {
  // padding: 30rem;
  border-top: solid 1rem $coolGreyHard;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    justify-content: center;
    text-align: center;

    display: grid;
    grid-template-rows: 50rem 80rem 120rem;

    @media all and (min-width: 768px) {
      max-width: $max-width-tablet;
      padding: 23rem 45rem 60rem 45rem;
      grid-template-rows: 50% 50%;
      grid-template-columns: 50% 50%;
    }
    @media all and (min-width: 1200px) {
      max-width: $max-width-desktop;
      padding: 23rem 138rem 51rem 138rem;
    }

    &__small {
      padding-top: 30rem;
      color: $coolGreyHard;
      font-family: $openSans;
      font-size: 14rem;
      line-height: 20rem;
      @media all and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        padding-top: 6rem;
      }
    }

    &__links {
      width: 100%;
      max-height: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 20rem;
      line-height: 20rem;

      @media all and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;

        padding-top: 0rem;

        grid-row: span 2;
      }

      & ul li {
        line-height: 20rem;
        & a {
          width: 100%;
          max-height: 60rem;

          display: flex;
          justify-content: flex-end;

          text-transform: uppercase;
          font-family: $openSans;
          font-weight: $semiBold;
          font-size: 14rem;
          color: $blackParagraph;
          line-height: 20rem;
          @media all and (min-width: 768px) {
            line-height: 30rem;
          }
        }
      }
    }

    & a {
      max-height: 60rem;
      @media all and (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
      }
    }

    &__logo {
      height: 45rem;
      width: 116rem;
      margin: 30rem 0 45rem 0;
      @media all and (min-width: 768px) {
        margin: 15rem 0 0 0;
      }
    }
  }
}
