.header {
  width: 100%;
  height: 421rem;
  // background-image: url(../images/coding.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #020b11;

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & nav {
      flex-grow: 3;
    }
  }

  &__video {
    position: absolute;
    top: 105rem;
    left: 50%;

    width: 100%;
    max-height: calc(421rem - 105rem);

    transform: translate(-50%);
    z-index: 0;

    @media all and (min-width: 768px) {
      top: 60rem;
      max-height: calc(421rem - 60rem);
    }
  }

  &__title {
    z-index: 10;
    height: 60rem;
    margin: 0;
    line-height: 60rem;
    text-align: center;
    vertical-align: middle;
    font-size: 16rem;
    font-family: $rubik;
    font-weight: $medium;
    text-transform: uppercase;
    color: $white;
    background-color: $blueGreen;

    @media all and (min-width: 768px) {
      padding: 0 45rem;
      text-align: left;
      flex-grow: 1;
      @media all and (min-width: 1200px) {
        padding: 0 138rem;
      }
    }
  }

  &__nav {
    z-index: 10;

    &__links {
      width: 100%;
      height: 45rem;
      font-size: 15rem;
      font-family: $rubik;
      font-weight: $medium;
      line-height: 30rem;
      color: $white;
      background-color: $aqua09;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media all and (min-width: 768px) {
        height: 60rem;
        padding: 0 20rem 0 0;
        background-color: $blueGreen;
        justify-content: flex-end;
      }
      @media all and (min-width: 1200px) {
        padding: 0 118rem 0 0;
      }

      & li {
        font-size: inherit;
        text-transform: uppercase;

        @media all and (min-width: 768px) {
          padding: 0 10rem;
        }
      }
    }
  }
}

.motto {
  width: 290rem;
  height: 80rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 387rem;
  text-align: center;
  padding: 0 15rem;
  background-color: $white;

  @media all and (min-width: 768px) {
    width: 441rem;
    padding: 15rem 30rem;
    text-align: left;
    left: 46rem;
    top: 341rem;
    background-color: $white08;
  }

  @media all and (min-width: 1200px) {
    width: 574rem;
    padding: 15rem 30rem;
    text-align: left;
    left: 138rem;
    top: 341rem;
    background-color: $white08;
  }

  & p {
    font-family: $openSans;
    font-size: 18rem;
    font-weight: $semiBold;
    color: $black;
    line-height: 25rem;
  }
}
