.main {
  width: 100%;
  min-width: 320rem;
  text-align: center;

  /* MAIN-TEAM */
  &__team {
    padding: 76rem 15rem 15rem 15rem;

    & h2 {
      font-family: $rubik;
      font-size: 24rem;
      font-weight: $medium;
      line-height: 45rem;
      text-transform: uppercase;
      color: $aqua;
    }

    & p {
      padding: 15rem 0;
      font-family: $openSans;
      font-size: 16rem;
      font-weight: $regular;
      line-height: 24rem;
      color: $blackParagraph;
    }
  }
  /* END OF MAIN-TEAM */

  /* DIAMOND */
  &__diamond {
    width: 100%;
    height: 30rem;

    position: relative;
    top: -15rem;

    display: flex;
    justify-content: center;

    &--rotate {
      width: 30rem;
      height: 30rem;
      z-index: 10;
      transform: rotate(45deg);
      background-color: $white;
    }
  }
  /* END OF DIAMOND */

  /* MAIN WOTS */
  &__wots {
    position: relative;
    top: -30rem;
    padding: 0rem 15rem 45rem 15rem;
    margin-bottom: -30rem;
    background-color: $coolGrey;
  }

  &__wots article h2 {
    padding: 30rem 0 0 0;
    font-family: $rubik;
    font-size: 22rem;
    font-weight: $medium;
    line-height: 45rem;
    text-transform: capitalize;
    color: $blueGreen;
    top: 46px;
    min-height: 50px; /* Mínimo de alto para que no pise con el footer*/
  }

  &__wots article p {
    font-family: $openSans;
    font-size: 16rem;
    font-weight: $regular;
    line-height: 24rem;
    color: $blackParagraph;
  }
  /* END OF MAIN WOTS */

  /* MAIN ABOUT US */
  &__aboutus {
    padding: 0 15rem;

    & h2 {
      padding: 30rem 0;
      font-family: $rubik;
      font-size: 24rem;
      font-weight: $medium;
      line-height: 45rem;
      text-transform: uppercase;
      color: $blueGreen;
    }

    & article {
      padding-bottom: 45rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      & .img-mau {
        width: 190rem;
        height: 190rem;
        border: solid 5rem $blackBorder;
        border-radius: 4rem;
        background-size: contain;
      }

      & h4 {
        padding-top: 15rem;
        font-family: $openSans;
        font-size: 20rem;
        font-weight: $regular;
        line-height: 45rem;
        text-transform: capitalize;
        color: $black;
      }

      & p {
        padding-bottom: 15rem;
        font-family: $openSans;
        font-size: 16rem;
        font-weight: $regular;
        line-height: 24rem;
        color: $blackParagraph;
      }

      & .some-mau {
        width: 124rem;
        height: 30rem;
        display: flex;
        justify-content: space-between;

        & a i,
        span {
          font-size: 15rem;
          font-weight: $regular;
          line-height: 30rem;
          color: $blueGreen;
        }

        & i:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.img-mau-001 {
  background: url(../images/about-us/analia.jpg) no-repeat;
}

.img-mau-002 {
  background: url(../images/about-us/celia.jpg) no-repeat;
}

.img-mau-003 {
  background: url(../images/about-us/naiara.jpg) no-repeat;
}

.img-mau-004 {
  background: url(../images/about-us/satory.jpg) no-repeat;
}
/* END OF MAIN ABOUT US */
