<section class="main-strenghts-weaknesses">
  <article>
    <h2>Fortalezas</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quidem,
      ad pariatur quod cumque velit reiciendis molestiae dignissimos repellat,
      quae, cupiditate quia ex libero obcaecati nam laudantium delectus a
      reprehenderit!
    </p>
  </article>

  <article>
    <h2>Debilidades</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      molestiae id doloribus quisquam fuga nostrum iusto deleniti minima ullam
      nemo ea voluptatibus, doloremque unde facere fugit obcaecati itaque!
      Repellendus, quae?
    </p>
  </article>
</section>
