<section class="main-team">
  <h2 id="team">Equipo</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat libero
    fugit neque reiciendis laboriosam ad atque quidem, voluptatem cumque, quos
    ipsa illum et voluptatibus molestiae aspernatur nesciunt pariatur veniam
    tempora!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure esse accusamus
    dolorum ea est hic soluta laudantium quidem tenetur facilis quibusdam,
    repellendus eos. Assumenda obcaecati dolore molestiae ipsa perferendis ab?
  </p>
</section>
