<section class="main__aboutus">
  <h2 id="aboutus">Quiénes somos</h2>

  <include
    src="../main/components/profile.html"
    switch="switch-left"
    img="img-mau-001"
    name="Analía Río"
    description=" Licenciada en Traducción e Interpretación, soy una apasionada de los
    idiomas. La comunicación me fascina porque es la base de todas las
    relaciones y considero que aprender un idioma es acercarse a otra cultura.
    Esto me ha empujado a estudiar inglés, francés, alemán y, más recientemente,
    chino, y precisamente por lo mismo me atrae la programación: es el lenguaje
    universal por excelencia, común a infinidad de culturas e indispensable en
    nuestra sociedad actual."
    tw="#"
    li="https://www.linkedin.com/in/anal%C3%ADa-r%C3%ADo-044b3272/"
    gh="https://github.com/AnaliaRio"
    mail="analia.rio@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    switch="switch-right"
    img="img-mau-002"
    name="Celia Rodríguez"
    description="Graduada en Conservación-Restauración del Patrimonio Cultural y especializada en Arqueología, me encanta el mundo del Arte y la Historia. La creatividad y la imaginación son una parte muy importante en mi personalidad, siempre con ideas nuevas rondando en la cabeza. Adentrarme en el mundo de la programación ha sido mi primera gran decisión y estoy segura de que me va a ayudar a tomar las riendas de mi futuro.
    "
    tw="#"
    li="https://www.linkedin.com/in/celia-rodr%C3%ADguez-moreno-102b61a2/"
    gh="https://github.com/celiarodriguezmo"
    mail="celiro02@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    switch="switch-left"
    img="img-mau-003"
    name="Naiara Saratxaga"
    description="Graduada en Diseño y Creaciones Digitales. Positiva al 100%, alegre por
    naturaleza y de vez en cuando procrastinadora por necesidad. Siempre
    buscando el lado bueno de las cosas. Loca por la música rock, la fotografía
    y una buena conversación sobre cine. Amo pasar tiempo con mi familia y si es
    viajando por el mundo mucho mejor. Cat Lover y admiradora de la gente
    creativa y apasionada de su trabajo."
    tw="https://twitter.com/naiarasaratxaga"
    li="https://www.linkedin.com/in/naiara-saratxaga-17abb030/"
    gh="https://github.com/NaiSaratxaga"
    mail="nsaratxaga@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    switch="switch-right"
    img="img-mau-004"
    name="Satory Asensio"
    description="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
    architecto eveniet minima et! Veniam rerum magni laboriosam quos est
    repudiandae a suscipit nemo tenetur sequi, recusandae accusantium
    consectetur, consequatur quae?"
    tw="#"
    li="https://www.linkedin.com/in/satoryasensio/"
    gh="https://github.com/Sarasatory"
    mail="sarasatorynb@gmail.com"
  ></include>
</section>
