<section class="main__team">
  <h2 id="team">Equipo</h2>
  <p>
    Si algo nos caracteriza como equipo, es nuestro nexo de unión. Necesitábamos un giro en nuestras vidas y aprender a ser programadoras. Era parte de ese punto de no retorno que tanto anhelábamos.
  </p>
  <p>
    Somos un equipo con un gran poder de adaptación al medio y somos capaces de enfrentarnos a cualquier obstáculo que se nos ponga por delante.</p>
  <p>
    Inquietas y conscientes de la gran necesidad que hay de cambiar las cosas, tratamos de superarnos en cada nuevo reto que se nos presenta. Tenemos una constante en nuestro día a día: romper el código para aprender desde distintos puntos de vista.
  </p>
  <p>
    /* Inclusivas, multidisciplinares, resolutivas, empáticas */
  </p>
</section>