<section class="main__wots">
  <article>
    <h2>Fortalezas</h2>
    <p>
      Nuestra mayor fuerza reside en la confianza que tenemos en el equipo. Unidas desde el primer día y con un entorno de trabajo basado en el respeto y la escucha activa. Nos apoyamos y respetamos nuestras propuestas siempre aportando críticas constructivas.      
    </p>
    <p>
      Autónomas y dando valor constantemente, somos implacables buscando soluciones.
    </p>
    <p>
      El compromiso con nuestro proyecto es uno de nuestros puntos fuertes.
    </p>
  </article>

  <article>
    <h2>Debilidades</h2>
    <p>
      Como todo equipo que comienza una nueva andadura, la falta de conocimientos con alguna herramienta ha sido nuestro pequeño handicap.
      Nuestras ganas de perfeccionar las cosas y nuestra autoexigencia han hecho que nuestra gestión de alguna tarea haya sido errónea. Esto en algún momento del proyecto nos ha podido jugar una mala pasada, nada que no se pueda solucionar con una mejora en nuestra estimación del tiempo.      
    </p>
  </article>
</section>
