<section class="main__aboutus">
  <h2 id="aboutus">Quiénes somos</h2>

  <include
    src="../main/components/profile.html"
    number__element="1"
    switch="switch-left"
    img="img-mau-001"
    name="Analía Río"
    epiteto="Adler"
    description1="Licenciada en Traducción e Interpretación, soy una apasionada de los
    idiomas. La comunicación me fascina porque es la base de todas las
    relaciones y considero que aprender un idioma es acercarse a otra cultura."
    description2="Esto me ha empujado a estudiar inglés, francés, alemán y, más recientemente,
    chino, y precisamente por lo mismo me atrae la programación: es el lenguaje
    universal por excelencia, común a infinidad de culturas e indispensable en
    nuestra sociedad actual."
    tw="#"
    li="https://www.linkedin.com/in/anal%C3%ADa-r%C3%ADo-044b3272/"
    gh="https://github.com/AnaliaRio"
    mail="analia.rio@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    number__element="2"
    switch="switch-right"
    img="img-mau-002"
    name="Celia Rodríguez"
    epiteto="Inia Delphinus"
    description1="Graduada en Conservación-Restauración del Patrimonio Cultural y especializada en Arqueología, me encanta el mundo del Arte y la Historia."
    description2="La creatividad y la imaginación son una parte muy importante en mi personalidad, siempre con ideas nuevas rondando en la cabeza."
    description3="Adentrarme en el mundo de la programación ha sido mi primera gran decisión y estoy segura de que me va a ayudar a tomar las riendas de mi futuro."
    tw="#"
    li="https://www.linkedin.com/in/celia-rodr%C3%ADguez-moreno-102b61a2/"
    gh="https://github.com/celiarodriguezmo"
    mail="celiro02@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    number__element="3"
    switch="switch-left"
    img="img-mau-003"
    name="Naiara Saratxaga"
    epiteto="Katua"
    description1="Graduada en Diseño y Creaciones Digitales."
    description2="Positiva al 100%, alegre por
    naturaleza y de vez en cuando procrastinadora por necesidad. Siempre
    buscando el lado bueno de las cosas."
    description3="Loca por la música rock, la fotografía
        y una buena conversación sobre cine."
    description4="Amo pasar tiempo con mi familia y si es
    viajando por el mundo mucho mejor."
    description5="Cat Lover y admiradora de la gente
    creativa y apasionada de su trabajo."
    tw="https://twitter.com/naiarasaratxaga"
    li="https://www.linkedin.com/in/naiara-saratxaga-17abb030/"
    gh="https://github.com/NaiSaratxaga"
    mail="nsaratxaga@gmail.com"
  ></include>

  <include
    src="../main/components/profile.html"
    number__element="4"
    switch="switch-right"
    img="img-mau-004"
    name="Satory Asensio"
    epiteto="Protospatharia"
    description1="Me llamo Satory y soy una persona curiosa. Curiosa porque tengo siempre ganas de aprender y conocer más, y curiosa porque lo normal parece que me rebota y no se queda pegado a mi vida."
    description2="Soy ante todo alguien con ganas de cambiar las cosas, de mejorar un poco el entorno en el que me muevo, y de aportar desde mi perspectiva y conocimiento. Al final, el mundo siempre te termina devolviendo, y es más placentero caminar por él cuando lo cuidas un poquito."
    description3="Y es por eso, porque soy una persona curiosa, inquieta, y con ganas de mejora, que siempre ando buscando proyectos en los que implicarme y personas con las que compartirlos. Desde la base de la horizontalidad, del respeto, el cuidado, y el crecimiento personal y colectivo."
    description4="Y en este entorno que nos ocupa, soy una persona no binaria, transfemenina, con cierto gusto por los retos y juegos de ingenio, que trae la mochila del diseño y la enseñanza para nutrirse de herramientas y de ese modo conseguir que la magia de la programación pase también a mi lista de recursos."
    description5="¿Jugamos?"
    tw="#"
    li="https://www.linkedin.com/in/satoryasensio/"
    gh="https://github.com/Sarasatory"
    mail="sarasatorynb@gmail.com"
  ></include>
</section>
