:root {
  /* Variables */
  /** Tipografías **/
  --rubik: "Rubik", sans-serif;
  --openSans: "OpenSans", sans-serif;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;

  /** Colores **/
  --aqua: #14d9c4;
  --blueGreen: #099d8d;
  --black: #000;
  --blackParagraph: #54585a;
  --coolGrey: #b8b8b9;
  --blackBorder: rgba(0, 0, 0, 0.08);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 320px; */
  /* Lo comento porque puesto en "*" fuerza a que todos los elementos tengan por defecto una anchura de 320px que si no se sobreescribe genera problemas más adelante. */

  /* Igualar el tamaño de las unidades REM al tamaño relativo de los píxeles */
  /* 6.25% = 1px de 16px */
  /* 1 REM = 1PX */
  font-size: 6.25%;
}

.header {
  height: 421px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-family: "Rubik", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #099d8d;
  opacity: 0.95;
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: #fff;
}

.links {
  width: 320px;
  height: 45px;
  font-family: "Rubik", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14d9c4;
  opacity: 0.9;
  color: #fff;
}

.team,
.about-us,
.contact {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.about-us {
  text-align: center;
}

.hero {
  height: 421px;
  position: absolute;
  top: 0;
}

.image-hero {
  width: 320px;
  height: 421px;
  margin: 0 0 46px;
}

.container-motto {
  width: 290px;
  height: 80px;
  z-index: 10;
  margin: 0px 15px;
  position: absolute;
  top: 387px;
  background-color: #fff;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motto {
  width: 260px;
  height: 50px;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  font-weight: var(--semiBold);
  color: #000;
  text-align: center;
  letter-spacing: normal;
  line-height: 1.39;
}

/* MAIN */

.main {
  width: 100%;
  min-width: 320rem;
  text-align: center;
}

/* MAIN-TEAM */
.main-team {
  padding: 76rem 15rem 15rem 15rem;
}

.main-team > h2 {
  font-family: var(--rubik);
  font-size: 24rem;
  font-weight: var(--medium);
  line-height: 45rem;
  text-transform: uppercase;
  color: var(--aqua);
}

.main-team > p {
  padding: 15rem 0;
  font-family: var(--openSans);
  font-size: 16rem;
  font-weight: var(--regular);
  line-height: 24rem;
  color: var(--blackParagraph);
}

/* END OF MAIN-TEAM */
/*  */
/* DIAMOND */

.diamond-container {
  width: 100%;
  height: 30rem;

  position: relative;
  top: -15rem;

  display: flex;
  justify-content: center;
}

.diamond {
  width: 30rem;
  height: 30rem;
  z-index: 10;
  transform: rotate(45deg);
  background-color: var(--white);
}

/* END OF DIAMOND */
/*  */
/* MAIN STRENGHTS WEAKNESSES */

.main-strenghts-weaknesses {
  position: relative;
  top: -30rem;
  padding: 0rem 15rem 45rem 15rem;
  margin-bottom: -30rem;
  background-color: var(--coolGrey);
}

.main-strenghts-weaknesses > article > h2 {
  padding: 30rem 0 0 0;
  font-family: var(--rubik);
  font-size: 22rem;
  font-weight: var(--medium);
  line-height: 45rem;
  text-transform: capitalize;
  color: var(--blueGreen);
}

.main-strenghts-weaknesses > article > p {
  font-family: var(--openSans);
  font-size: 16rem;
  font-weight: var(--regular);
  line-height: 24rem;
  color: var(--blackParagraph);
}

/* END OF MAIN STRENGHTS WEAKNESSES */
/*  */
/* MAIN ABOUT US */

.main-about-us {
  padding: 0 15rem;
}

.main-about-us > h2 {
  padding: 30rem 0;
  font-family: var(--rubik);
  font-size: 24rem;
  font-weight: var(--medium);
  line-height: 45rem;
  text-transform: uppercase;
  color: var(--blueGreen);
}

.main-about-us > article {
  padding-bottom: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-mau-001 {
  background: url(../images/about-us/analia.jpg) no-repeat;
}

.img-mau-002 {
  background: url(../images/about-us/celia.jpg) no-repeat;
}

.img-mau-003 {
  background: url(../images/about-us/naiara.jpg) no-repeat;
}

.img-mau-004 {
  background: url(../images/about-us/satory.jpg) no-repeat;
}

.img-mau {
  width: 190rem;
  height: 190rem;
  border: solid 5rem var(--blackBorder);
  border-radius: 4rem;
  background-size: contain;
}

.main-about-us > article > h4 {
  padding-top: 15rem;
  font-family: var(--openSans);
  font-size: 20rem;
  font-weight: var(--regular);
  line-height: 45rem;
  text-transform: capitalize;
  color: var(--black);
}

.main-about-us > article > p {
  padding-bottom: 15rem;
  font-family: var(--openSans);
  font-size: 16rem;
  font-weight: var(--regular);
  line-height: 24rem;
  color: var(--blackParagraph);
}

.some-mau {
  width: 124rem;
  height: 30rem;
  display: flex;
  justify-content: space-between;
}

.some-mau > i,
.some-mau > span {
  font-size: 15rem;
  font-weight: var(--regular);
  line-height: 30rem;
  color: var(--blueGreen);
}

.some-mau > i:hover {
  cursor: pointer;
}

/* END OF MAIN ABOUT US */
/* END OF MAIN */
