<<<<<<< HEAD
:root {
  width: 320px;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 320px;
}

:root {
>>>>>>> 0ee97eeeed568b4f07b968b6ef3b1c4a848f7c2c
  height: 100%;
}

.header {
  height: 421px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  position: sticky;
  z-index: 5;
=======
>>>>>>> 0ee97eeeed568b4f07b968b6ef3b1c4a848f7c2c
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
<<<<<<< HEAD
}

.title {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #099d8d;
=======
  position: sticky;
  top: 0;
  z-index: 10;
}

.title {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0; /* No tenia valor y estaba quejándose */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #099d8d;
  opacity: 0.95;
>>>>>>> 0ee97eeeed568b4f07b968b6ef3b1c4a848f7c2c
  width: 100%;
  height: 60px;
  font-size: 16px;
  color: #fff;
}

.links {
<<<<<<< HEAD
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 45px;
  background-color: #14d9c4;
  font-size: 15px;
  color: #fff;
}

.team {
}

.about-us {
}

.contact {
=======
  font-family: "Rubik", sans-serif;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14d9c4;
  opacity: 0.9;
  color: #fff;
}

.team,
.about-us,
.contact {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.about-us {
  text-align: center;
>>>>>>> 0ee97eeeed568b4f07b968b6ef3b1c4a848f7c2c
}

.hero {
  height: 421px;
<<<<<<< HEAD
=======
  position: absolute;
  top: 0;
}

.image-hero {
  width: 320px;
  height: 421px;
  margin: 0 0 46px;
}

.container-motto {
  width: 290px;
  height: 80px;
  margin: 0px 15px;
  position: absolute;
  top: 387px;
  background-color: #fff;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motto {
  width: 260px;
  height: 50px;
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  color: #000;
  text-align: center;
  letter-spacing: normal;
  line-height: 1.39;
}

.main {
  position: relative;
  top: 46px;
  min-height: 50px; /* Mínimo de alto para que no pise con el footer*/
}
/* estilos footer */

.footer {
  padding: 30px;
  border: solid 1px #b8b8b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
}

.group-name-footer {
  width: 100%; /* comentar con Analia */
  color: #b8b8b9;
  font-family: "OpenSans", sans-serif;
}

.footer-links {
  width: 100%; /* comentar con Analia */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.footer-link {
  width: 100%; /* comentar con Analia */
  text-transform: uppercase;
  font-family: "OpenSans-Semibold", sans-serif;
  color: #54585a;
}

.footer-logo {
  width: 115px;
  padding-top: 30px;
>>>>>>> 0ee97eeeed568b4f07b968b6ef3b1c4a848f7c2c
}
