<article
  id="article__container@@number__element"
  class="@@switch"
  onclick="article__container@@number__element.classList.toggle('article__container')"
>
  <span class="flash"></span>
  <div class="img-mau @@img"></div>
  <div class="container-mau">
    <h4>@@name</h4>
    <h5 class="epiteto">@@epiteto</h5>
    <p>@@description1</p>
    <p>@@description2</p>
    <p>@@description3</p>
    <p>@@description4</p>
    <p>@@description5</p>
    <div class="some-mau">
      <a href="@@tw" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <span>·</span>
      <a href="@@li" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <span>·</span>
      <a href="@@gh" target="_blank">
        <i class="fa-brands fa-github-alt"> </i>
      </a>
      <span>·</span>
      <a href="mailto:@@mail"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>
</article>
