<article class="@@switch">
  <div class="img-mau @@img"></div>
  <div class="container-mau">
    <h4>@@name</h4>
    <p>@@description</p>
    <div class="some-mau">
      <a href="@@tw" target="_blank">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <span>·</span>
      <a href="@@li" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
      <span>·</span>
      <a href="@@gh" target="_blank">
        <i class="fa-brands fa-github-alt"> </i>
      </a>
      <span>·</span>
      <a href="mailto:@@mail"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </div>
</article>
