<div class="text__animated">
  <div class="content">
    <div class="content__container">
      <p class="content__container__text">Somos:</p>

      <ul class="content__container__list">
        <li class="content__container__list__item">¡Inclusivas!</li>
        <li class="content__container__list__item">¡Resolutivas!</li>
        <li class="content__container__list__item">¡Empáticas!</li>
        <li class="content__container__list__item">¡Capaces!</li>
      </ul>
    </div>
  </div>
</div>
